<html>

<head>
    <title>Checkout canceled</title>
</head>

<body>
    <section>
        <p>Forgot to add something to your cart? <a href="{% url 'test_payment' %}">Try again</a></p>
    </section>
</body>

</html>