<html>

<head>
    <title>Thanks for your order!</title>
</head>

<body>
    <section>
        <p>
            We appreciate your business! If you have any questions, please email
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
        <a href="{% url 'test_payment' %}">Test again</a>
    </section>
</body>

</html>