<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'create-checkout-session' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Checkout</button>
</form>
</body>
</html>